#main-container {
	max-width: 800px;
	margin: -40px auto 0 auto;
	background: #fff;
	//padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
	position: relative;

	// NG ANIMATIONS
	.wrapper {
		position: relative;
		&.ng-enter {
			animation: slide-in .5s;
		}
	}

	@keyframes slide-in {
		0% {
			left: 30px;
			opacity: 0;
		} 100% {
			left: 0;
			opacity: 1;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	.hr {
		width: 90px;
		height: 2px;
		background: $color-primary;
		margin: 1.75em 0;
	}

	.content {
		padding: 30px 30px 40px;
		@media screen and (max-width: 500px) {
			padding: 20px 10px 20px;
		}
	}

	.landing {
		.usa-grid {
			padding: 0;
			.image-container {
				background: red;
				height: 0;
				padding-bottom: 46.5%;
				background-image: url('../img/landing-image-@2x.jpg');
				background-size: cover;
				background-position: center center;
				@media screen and (max-width: 800px) and (min-width: 600px) {
					padding-bottom: 66%;
				}
			}
		}
		.content {
			@media screen and (min-width: 600px) {
				padding-left: 0;					
			}
			@media screen and (min-width: 1201px) {
				padding-left: 10px;
			}

		}
	}

	.usa-accordion-content {
		height: 125px;
		overflow-y: scroll;
	}

	.footer-controls {
		background: $color-gray-lightest;
		padding: 20px;
		button {
			float: right;
		}
		.back-button {
			color: $color-gray;
			display: inline-block;
			margin-top: 5px;
			cursor: pointer;
			.fa {
				font-size: 32px;
				vertical-align: top;
				position: relative;
				top: -5px;
				display: inline-block;
				margin-right: 10px;
			}
		}
	}
}