#main-container {
	max-width: 800px;
	margin: -40px auto 0 auto;
	background: #fff;
	//padding: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.3);

	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
	}

	.hr {
		width: 90px;
		height: 2px;
		background: $color-primary;
		margin: 1.75em 0;
	}

	.content {
		padding: 30px;
	}

	.landing {
		.usa-grid {
			padding: 0;
			.image-container {
				background: red;
				height: 0;
				padding-bottom: 45.5%;
				background-image: url('../img/landing-image-@2x.jpg');
				background-size: cover;
				background-position: center center;
				@media screen and (max-width: 800px) and (min-width: 600px) {
					padding-bottom: 66%;
				}
			}
		}
		.content {
			@media screen and (min-width: 600px) {
				padding-left: 0;					
			}
			@media screen and (min-width: 1201px) {
				padding-left: 10px;
			}

		}
	}

	.usa-accordion-content {
		height: 125px;
		overflow-y: scroll;
	}

	.user-table {
		td {
			padding: 0 5px;
			border: 0;
			&.middle-initial {
				width: 60px;
			}
		}
		.fa {
			font-size: 24px;
			&.fa-user {
				color: $color-gray-light;
			}
		}
	}
}