body form {
	max-width: none;
}

form button[type="submit"], form input[type="submit"] {
	margin: 0;
}

form input[type="radio"] + label {
	width: 80px;
	display: inline-block;
	margin-top: 0;
}

form .compact > .usa-width-one-half {
	height: 50px;
}

.user-table {
	margin-bottom: 0;
	td {
		padding: 2px 5px;
		border: 0;
		&.middle-initial {
			width: 60px;
		}
	}
	.table-icon {
		font-size: 24px;
		color: $color-gray-light;
		width: 25px;
		padding-left: 5px;
	}
	.add-user {
		color: $color-green;
		cursor: pointer;
		.table-icon {
			color: $color-green;
		}
		td {
			padding-top: 10px;
		}
	}
	tr {
		border-left: 3px solid transparent;
		transition: all .2s;
		&.ng-enter {
			opacity: 0;
			transition: opacity .2s
		}
		&.ng-enter-active {
			opacity: 1;
		}
		&.ng-leave {
			opacity: 1;
			transition: opacity .2s;
		}
		&.ng-leave-active {
			opacity: 0;
		}
		&:nth-of-type(2) {
			.delete {
				visibility: hidden;
			}
		}
		&.usa-input-error {
			border-left: 3px solid #cd2026;
		}
	}
	.delete {
		color: $color-secondary;
		font-size: 24px;
		width: 28px;
		cursor: pointer;
	}
	input {
		margin: 2px;
	}
	input.input-error {
		border: 3px solid $color-secondary;
		margin: 0;
	}
}

.usa-input-error.stand-alone {
	right: 0;
	height: auto;
	opacity: 1;
	transition: all .5s;
	position: relative;
	left: -30px;
	padding-left: 26px;
	overflow: hidden;
	&.ng-show {
		opacity: 1;
		height: 111px;

	}
	&.ng-hide {
		opacity: 0;
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0;
	}
}

.boolean-input-error {
	border-left: 4px solid $color-secondary-dark;
	position: relative;
	left: -30px;
	> .usa-width-one-half {
		padding-left: 29px;
		&:first-of-type {
			padding-left: 26px;
		}
	}
	input[type="radio"] + label::before {
		box-shadow: 0 0 0 2px white, 0 0 0 5px $color-secondary;
	}
}

.usa-grid-full.income {
	transition: height .3s, opacity .15s;
	height: 73px;
	> .usa-width-one-half:first-of-type {
		height: 73px;
	}
	&.ng-enter {
		height: 0;
		opacity: 0;
		overflow: hidden;
		transition: height .3s, opacity .3s .15s;
	}
	&.ng-enter-active {
		height: 73px;
		opacity: 1;
	}
	&.ng-leave-active {
		height: 0;
		opacity: 0;
		overflow: hidden;
	}
	.income-input {
		transition: height .5s, opacity .2s;
		height: 73px;
		label {
			margin-top: 0;
		}
		.dollar-sign {
			position: relative;
			&:before {
				content: "$";
				position: absolute;
				top: 11px;
				left: 8px;
			}
		}
		input[type="num"] {
			padding-left: 20px;
		}
	}
}