@import "../usa-web/_scss/all.scss";
@import "layout.scss";
@import "container.scss";
@import "form.scss";

/* ------ BEGIN CUSTOM CODE ------ */

body {
	background: $color-gray-lightest;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
