<div class="content">
	<h3>First, let’s list each child you’re applying for.</h3>
	<div class="hr"></div>
	<p><em>This is anyone who is living with you and shares income and expenses, even if they’re not related.</em></p>
	<table class="user-table">
		<tr>
			<td></td>
			<td>First name</td>
			<td>MI</td>
			<td>Last name</td>
			</td>
		</tr>
		<tr>
			<td><i class="fa fa-user"></i></td>
			<td><input type="text"></td>
			<td class="middle-initial"><input type="text"></td>
			<td><input type="text"></td>
			</td>
		</tr>
</div>