<form name="userForm" form-on-change="formSubmitted = false" ng-submit="formSubmitted = true; goNext(userForm.$valid);" novalidate>
    <div class="content usa-grid">
        <h3 ng-show="currentPerson == 0">Okay, let’s start with {{ currentPersonInfo.firstName }}.</h3>
        <h3 ng-show="(currentPerson % 2 === 0) && currentPerson != 0">Great, how about {{ currentPersonInfo.firstName }}?</h3>
        <h3 ng-show="!(currentPerson % 2 === 0) && (currentPerson > 0)">Okay, and now for {{ currentPersonInfo.firstName }}.</h3>
        <div class="hr"></div>
        <div class="error-wrapper" ng-class="{ 'usa-input-error': userForm.studentYes.$invalid && formSubmitted }">
            <div class="usa-grid-full compact">
                <div class="usa-width-one-half">
                    <p>Is {{ currentPersonInfo.firstName }} a student?</p>
                </div>
                <div class="usa-width-one-half">
                    <p>
                        <input type="radio" id="studentYes" name="studentYes" ng-value="true" ng-model="currentPersonInfo.student" required>
                        <label for="studentYes">Yes</label>
                        <input type="radio" id="studentNo" name="studentNo" ng-value="false" ng-model="currentPersonInfo.student">
                        <label for="studentNo">No</label>
                    </p>
                </div>
            </div>
        </div>
        <div class="error-wrapper" ng-class="{ 'usa-input-error': userForm.fosterChildYes.$invalid && formSubmitted }">
            <div class="usa-grid-full compact" ng-if="!newSubmission.programs">
                <div class="usa-width-one-half">
                    <p>Is {{ currentPersonInfo.firstName }} a foster child?</p>
                </div>
                <div class="usa-width-one-half">
                    <p>
                        <input type="radio" id="fosterChildYes" name="fosterChildYes" ng-value="true" ng-model="currentPersonInfo.fosterChild" required>
                        <label for="fosterChildYes">Yes</label>
                        <input type="radio" id="fosterChildNo" name="fosterChildNo" ng-value="false" ng-model="currentPersonInfo.fosterChild">
                        <label for="fosterChildNo">No</label>
                    </p>
                </div>
            </div>
        </div>
        <div class="error-wrapper" ng-class="{ 'usa-input-error': userForm.homelessMigrantRunawayYes.$invalid && formSubmitted }">
            <div class="usa-grid-full compact" ng-if="!newSubmission.programs">
                <div class="usa-width-one-half">
                    <p>Is {{ currentPersonInfo.firstName }} homeless, a migrant, a runaway, or Head Start participant?</p>
                </div>
                <div class="usa-width-one-half">
                    <p>
                        <input type="radio" id="homelessMigrantRunawayYes" name="homelessMigrantRunawayYes" ng-value="true" ng-model="currentPersonInfo.homelessMigrantRunaway" required>
                        <label for="homelessMigrantRunawayYes">Yes</label>
                        <input type="radio" id="homelessMigrantRunawayNo" name="homelessMigrantRunawayNo" ng-value="false" ng-model="currentPersonInfo.homelessMigrantRunaway">
                        <label for="homelessMigrantRunawayNo">No</label>
                    </p>
                </div>
            </div>
        </div>
        <div class="error-wrapper" ng-class="{ 'usa-input-error': userForm.incomeYes.$invalid && formSubmitted }">
            <div class="usa-grid-full" ng-if="!newSubmission.programs">
                <div class="usa-width-one-half">
                    <p>Does {{ currentPersonInfo.firstName }} earn an income from work, social security, disability, or any other external source?</p>
                </div>
                <div class="usa-width-one-half">
                    <p>
                        <input type="radio" id="incomeYes" name="incomeYes" ng-value="true" ng-model="currentPersonInfo.income" required>
                        <label for="incomeYes" ng-click="formSubmitted = false">Yes</label>
                        <input type="radio" id="incomeNo" name="incomeNo" ng-value="false" ng-model="currentPersonInfo.income" ng-change="currentPersonInfo.incomeAmount = false; currentPersonInfo.incomeFrequency = false">
                        <label for="incomeNo">No</label>

                    </p>
                </div>
            </div>
        </div>
        <div class="usa-grid-full error-wrapper ng-slide-down" ng-form="subForm" ng-class="{ 'usa-input-error' : userForm.subForm.$invalid && formSubmitted } " ng-if="currentPersonInfo.income">
        	<div class="usa-width-one-half">
                <p>Write {{ currentPersonInfo.firstName }}'s income here (before tax).</p>
        	</div>
        	<div class="usa-width-one-half">
        		<div class="usa-grid-full income-input">
                    <div class="usa-width-one-half">
                        <label>How much?</label>
                        <div class="dollar-sign">
                        	<input type="number" ng-model="currentPersonInfo.incomeAmount" name="incomeAmount" required>
                    	</div>
                    </div>
                    <div class="usa-width-one-half">
                        <label for="frequency">How often?</label>
                        <select 
                        name="incomeFrequency" 
                        id="frequency" 
                        ng-model="currentPersonInfo.incomeFrequency"
                        ng-options="item.id as item.name for item in frequencyValues" 
                        required>
                        </select>
                    </div>
                </div>
        	</div>
    	</div>
        <div class="usa-grid-full ng-slide-down" ng-if="userForm.$valid &&currentPersonInfo.incomeFrequency">
            <div class="usa-alert usa-alert-info">
                <div class="usa-alert-body">
                  <p class="usa-alert-text">The income information is really important. You said {{ currentPersonInfo.firstName }} makes ${{ currentPersonInfo.incomeAmount * currentPersonInfo.incomeFrequency }} per year. If that sounds right, go ahead and continue.</p>
                </div>
            </div>
        </div>
        <div class="usa-input-error usa-grid-full ng-slide-down" ng-if="userForm.$invalid && formSubmitted"><p class="usa-input-error-message">You're missing some information. All of these questions are required.</p></div>
    </div>
    <footer class="footer-controls clearfix">
        <button type="Submit" class="usa-button primary-action">Next</button>
        <div ng-click="goBack();" class="back-button"><i class="fa fa-angle-left"></i>Back</div>
    </footer>
</form>
