<form name="userForm" ng-submit="formSubmitted = true; goNext(userForm.$valid);" novalidate>
	<div class="content">
		<h3>First, let’s list each child you’re applying for.</h3>
		<div class="hr"></div>
		<p>This is anyone who is living with you and shares income and expenses, even if they’re not related.</p>
		<table class="user-table">
			<tr>
				<td></td>
				<td>First name</td>
				<td>MI</td>
				<td>Last name</td>
			</tr>
			<tr ng-repeat="child in newSubmission.children" ng-form="subForm">
				<td class="table-icon"><i class="fa fa-user"></i></td>
				<td>
					<input 
					type="text" 
					name="firstName" 
					ng-class="{'input-error': subForm.firstName.$invalid && subForm.firstName.$touched || subForm.firstName.$invalid && formSubmitted}" 
					ng-model="child.firstName" 
					ng-minlength="1" 
					required>
				</td>
				<td class="middle-initial">
					<input type="text" 
					name="middleInitial" 
					ng-model="child.middleInitial">
				</td>
				<td>
					<input 
					type="text" 
					name="lastName" 
					ng-class="{'input-error': subForm.lastName.$invalid && subForm.lastName.$touched || subForm.lastName.$invalid && formSubmitted}"
					ng-model="child.lastName" 
					required></td>
				</td>
				<td class="delete" ng-click="newSubmission.children.splice($index, 1);"><i class="fa fa-close"></i></td>
			</tr>
			<tr class="add-user" ng-click="addChild();">
				<td class="table-icon"><i class="fa fa-plus-circle"></i></td>
				<td>Add another child</td>
			</tr>
		</table>	
		<div class="usa-input-error stand-alone" ng-show="userForm.$invalid && formSubmitted"><p class="usa-input-error-message">You're missing some information. First and last names are required.</p></div>
	</div>
	<footer class="footer-controls clearfix">
		<button type="Submit" class="usa-button primary-action">Next</button>
		<div ng-click="goBack();" class="back-button"><i class="fa fa-angle-left"></i>Back</div>
	</footer>
</form>