<form name="userForm" form-on-change="formSubmitted = false" ng-submit="formSubmitted = true; goNext(userForm.$valid);" novalidate>
	<div class="usa-grid content">
		<h3>First, let’s list each child you’re applying for.</h3>
		<div class="hr"></div>
		<p>This is anyone who is living with you and shares income and expenses, even if they’re not related.</p>
		<div class="user-table header">
			<div class="flex-item first-name">First name</div>
			<div class="flex-item size-mi">MI</div>
			<div class="flex-item last-name">Last name</div>
		</div>
		<div class="user-table ng-slide-down" ng-form="subForm" ng-repeat="child in newSubmission.children" ng-class="{'no-delete':$first}">
			<div class="user-icon"><i class="fa fa-user"></i></div>
			<div class="flex-item first-name">
				<label for="firstName">First name</label>
				<input 
				type="text" 
				name="firstName" 
				ng-class="{'input-error': subForm.firstName.$invalid && subForm.firstName.$touched || subForm.firstName.$invalid && formSubmitted}" 
				ng-model="child.firstName" 
				required>
			</div>
			<div class="flex-item size-mi">
				<label for="middleInitial">MI</label>
				<input type="text" 
				name="middleInitial" 
				ng-model="child.middleInitial">
			</div>
			<div class="flex-item last-name">
				<label for="lastName">Last name</label>
				<input 
				type="text" 
				name="lastName" 
				ng-class="{'input-error': subForm.lastName.$invalid && subForm.lastName.$touched || subForm.lastName.$invalid && formSubmitted}"
				ng-model="child.lastName"
				required></td>
			</div>
			<div class="delete-icon" ng-click="newSubmission.children.splice($index, 1);"><i class="fa fa-close"></i></div>
		</div>
		<div class="usa-grid-full add-button" ng-click="addPerson('child');"><i class="fa fa-plus-circle"></i> Add another child
		</div>

		<div class="usa-grid-full">
			<div class="usa-input-error usa-grid-full ng-slide-down" ng-if="userForm.$invalid && formSubmitted"><p class="usa-input-error-message">You're missing some information. First and last names are required.</p></div>
		</div>
	</div>
	<footer class="footer-controls clearfix">
		<button type="Submit" class="usa-button primary-action">Next</button>
		<div ng-click="goBack();" class="back-button"><i class="fa fa-angle-left"></i>Back</div>
	</footer>
</form>