<form name="userForm" form-on-change="formSubmitted = false" ng-submit="formSubmitted = true; goNext(userForm.$valid);" novalidate>
    <div class="content usa-grid">
        <div class="usa-grid-full">
            <h3>Alright, let's wrap this up.</h3>
            <div class="hr"></div>
        </div>
        <p>This step is optional, but providing current and accurate contact information can help the school inform you about their decision and stay organized.
        <div class="flex contact-form text-form">
            <div class="flex-item size-4">
                <label for="address">Street Address (if&nbsp;available)</label>
                <input type="text" ng-model="newSubmission.contact.address" name="address" id="address">
            </div>
            <div class="flex-item size-1">
                <label for="apt">Apt #</label>
                <input type="text" ng-model="newSubmission.contact.apt" name="apt" id="apt">
            </div>
            <div class="flex-item size-3" ng-class="{ 'input-error' : userForm.city.$invalid && formSubmitted }">
                <label for="city">City</label>
                <input type="text" ng-model="newSubmission.contact.city" name="city" id="city">
            </div>
            <div class="flex-item size-1" ng-class="{ 'input-error' : userForm.state.$invalid && formSubmitted }">
                <label for="state">State</label>
                <input type="text" ng-minlength="2" ng-model="newSubmission.contact.state" name="state" id="state">
            </div>
            <div class="flex-item size-3" ng-class="{ 'input-error' : userForm.zip.$invalid && formSubmitted }">
                <label for="zip">Zip</label>
                <input type="number" ng-model="newSubmission.contact.zip" name="zip" id="zip" ng-length="5">
            </div>
            <div class="flex-item size-3" ng-class="{ 'input-error' : userForm.phone.$invalid && formSubmitted }">
                <label for="phone">Daytime Phone</label>
                <input type="tel" ng-model="newSubmission.contact.phone" name="phone" id="phone">
            </div>
            <div class="flex-item size-3" ng-class="{ 'input-error' : userForm.email.$invalid && formSubmitted }">
                <label for="email">Email</label>
                <input type="email" ng-model="newSubmission.contact.email" name="email" id="email">
            </div>
            <!-- <div class="flex-item size-3" ng-class="{ 'input-error' : userForm.signature.$invalid && formSubmitted }">
                <label for="Signature">Signature (Printed&nbsp;Name)<span>*</span></label>
                <input type="text" ng-model="newSubmission.contact.signature" name="signature" id="signature" required>
            </div> -->
            <div class="flex-item size-3" style-"max-width: 300px">
                <label for="date">Date</label>
                <input ng-model="newSubmission.date" name="date" disabled>
            </div>
        </div>
        <p style="font-size: 14px; color: #454341;">The person signing is furnishing true information and to advise that person that the application is being made in connection with the receipt of Federal funds; School officials may verify the information on the application; and deliberate misrepresentation of the information may subject the applicant to prosecution under State and Federal statutes.</p>
        <div class="usa-input-error usa-grid-full" ng-if="formSubmitted && userForm.$invalid">
            <p class="usa-input-error-message">Looks like some of the information isn't formatted correctly. We marked it in red.</p>
        </div>
    </div>
    <footer class="footer-controls clearfix">
        <button type="Submit" class="usa-button primary-action">Next</button>
        <div ng-click="goBack();" class="back-button"><i class="fa fa-angle-left"></i>Back</div>
    </footer>
</form>
