<div class="landing">
	<div class="usa-grid">
		<div class="usa-width-one-half image-container">
		</div>
		<div class="usa-width-one-half content">
			<h3>Looking for free and reduced price meals for your kids?</h3>
			<div class="hr"></div>
			<p>Relax, you're in the right place.</p>
			<p>This only takes 5-10 minutes on average. Even if you're applying for multiple children, you only have to go through this once.</p>
			<a href="#add-children" class="usa-button" ng-click="addNew();">Get started</a>
		</div>
	</div>
</div>